
.modal_wrapper{
position:fixed;
bottom:0;
left: 0;
width:100%;
background:rgba(0, 0, 0, .2);
}

.modal_wrapper.open{
    height:100%;
    display:block;
}
.modal_wrapper.close{
    height:0;
    display:none;
}

.modal_header{
    display:flex;
    justify-content:space-between;
}

.modal_body{
    max-width:500px;
    margin:auto;
    background:rgb(156, 35, 35);
    margin-top:5%;
    padding:30px;
    border-radius:3px;
    color:#fff;
    text-align:center;
}

.modal_close{
   font-size:20px;
   border:none;
   background:none;
    color: rgb(29, 25, 29);
    cursor:pointer;
}
.modal_close:hover{
    color:rgb(58, 53, 53);
}