.cards-wrap{
display:flex;
justify-content:center;
flex-wrap:wrap;
}
.empty-cart{
    color:white;
    font-size:20px;
    margin:0 auto;
    text-transform:uppercase;
}
.item{
    text-align:center;
}
.delete-item {
    color: #fff;
    cursor: pointer;
    position:relative;
    right: 30px;
    top:300px;
}