body{
    background-color:rgb(120, 80, 71);
    color: #fff;
}
header{
    position: relative;
}
main{
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    max-width: 900px;
    text-align: center;
    position: relative;
}
img{
    margin: 0;
}
button{
    cursor: pointer;
}
p{
    margin: 0;
}

.star{
    cursor: pointer;
    border:none;
    background: none;
}
.shopping-cart{
    float: right;
    cursor:pointer;
}

.shopping-cart-opened .item{
    width: 100%;
}
.shopping-cart-opened .item img{
    width: 70px;
    height: 70px;
    float: left;
}
.shopping-cart-opened .item h2{
    font-size: 15px;
}
.shopping-cart-opened{
    position: absolute;
    top: 35px;
    right: 0;
    width: 200px;
    padding: 10px;
    background: rgba(152, 217, 227, 0.751);
    box-shadow: 5px 5px 15px -5px #077070;
}
.item{
    padding: 10px;
    margin-bottom: 20px;
}
.item:hover{
    background-color: rgba(17, 6, 6, 0.203);
    border-radius: 10px;
}
.item>h2 {
    color: rgb(23, 9, 102);
    margin: 0;
}
.star.active path{
fill:yellow;
}
.delete-icon{
    color:#485a5a;
    float: right;
    cursor: pointer;
    position: relative;
    right: 10px;
    bottom: 10px;
}
.delete-icon:hover{
    color: red;
}
.summary{
    position: absolute;
    right: 50px;
}