
.template{
    width:100%;
}
a{
    color:white;
    margin:10px;
    text-transform:uppercase;
}
.active{
    color:rgb(143, 27, 1); 
    text-decoration:none;
}
a:hover{
    text-decoration: none;
}